.main-button{
  border: 0px;
  width: 20rem;
  height: 5rem;
  clip-path: polygon(93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%, 7% 0%);
  background-color: #2E2473;
  font-size: large;
  background-image: url("../IMG/background02.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none; 
}

.main-button:hover{
  background-image: url("../IMG/background01.png");
}

main{
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 3.5rem;
}
main div h1{
  font-size: 5rem;
  text-transform: capitalize;
}

main div .main-button{
  font-size: 2rem;
  font-family: "Oxanium";
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 70%;
  height: 5rem;
}

figure{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 43%;
  margin-right: 2rem;
}

figure img{
  max-width: 100%;
  height: auto;
}

figure img{
  width: 100%;
}

@media only screen and (max-width:1200px) {
  main div{
    width: 45%;
    margin-left: 3.5rem;
  }

  main div h1{
    font-size: 3.5rem;
  }
  
  main div .main-button{
    margin-top: 3rem;
    width: 100%;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    height: 5rem;
    font-size: 2rem;
  }
  
  figure{
    width: 43%;
    margin-right: 1rem;
  }
  
  figure img{
    max-width: 100%;
    height: auto;
  }
  
  figure img{
    width: 100%;
  }
}

@media only screen and (max-width:959px) {
  main div{
    width: 100%;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  main div h1{
    font-size: 4rem;
  }
  
  main div .main-button{
    font-size: 2rem;
    margin-top: 2rem;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    height: 4rem;
    width: 70%;
  }
  
  figure{
    width: 100%;
    /* margin-right: 0rem; */
    margin-top: 1rem;
  }
  
  figure img{
    max-width: 90%;
    height: auto;
  }
  
  figure img{
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  main div{
    width: 100%;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  main div h1{
    font-size: 3rem;
  }
  
  main div .main-button{
    font-size: 1.2rem;
    margin-top: 2rem;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    height: 4rem;
    width: 70%;
  }
  
  figure{
    width: 100%;
    margin-right: 0rem;
    margin-top: 1rem;
  }
  
  figure img{
    max-width: 90%;
    height: auto;
  }
  
  figure img{
    width: 100%;
  }
}

