.main-button{
  border: 0px;
  width: 20rem;
  height: 5rem;
  clip-path: polygon(93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%, 7% 0%);
  background-color: #2E2473;
  font-size: large;
  background-image: url("../IMG/background02.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none; 
}
div #inicio{
max-width: 96%;
}

.main-button:hover{
  background-image: url("../IMG/background01.png");
}

main{
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 3.5rem;
}
main div h1{
  font-size: 4rem;
  text-transform: capitalize;
}

main div .main-button{
  font-size: larger;
  font-family: "Oxanium";
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 3rem;
  width: 70%;
  height: 4rem;
}

figure{
  display: flex;
  justify-content: end;
  align-items: end;
  width: 43%;
  margin-right: 5rem;
}

figure img{
  max-width: 100%;
  height: auto;
}

figure img{
  width: 100%;
}

/*FUND*/

#textoSobre {
  margin-top: 45px;
  font-family: "Oxanium", sans-serif; 
  text-align: justify;
  color: #a4ff00; 
  font-size: 1rem; 
  line-height: 1.6;
  max-width: 96%;
}

body {
  background-color: #0d0d0d;
  font-family: Arial, sans-serif;
  color: #a4ff00; 
  text-align: center;
}

form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent; 
}

p {
  font-size: 20px;
  text-transform: uppercase;
  color: #a4ff00;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 5px;
  color: #a4ff00; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="descri"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #a4ff00; 
  background: transparent;
  color: white;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="descri"]:focus {
  outline: none;
  border-bottom: 2px solid #75c800; 
}

input[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #a4ff00; 
  color: #0d0d0d;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

input[type="button"]:hover {
  background-color: #75c800; 
}
#imgShadow{
  max-width: 220px;
  top: 10px;
}

@media only screen and (min-width:1061px) {
  main div{
    width: 40%;
    margin-left: 3.5rem;
  }

  main div h1{
    font-size: 4rem;
  }
  
  main div .main-button{
    margin-top: 3rem;
    width: 70%;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    height: 5rem;
    font-size: 2rem;
  }
  
  figure{
    width: 43%;
    margin-right: 5rem;
  }
  
  figure img{
    max-width: 100%;
    height: auto;
  }
  
  figure img{
    width: 100%;
  }

  .logo h3{
    font-family: "Oxanium";
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .logo img{
    width: 4rem;
    height: auto;
  }

  nav .menu{
    height: 2.8rem;
    margin-left: 2rem;
  }
  nav .carrinho{
    height: 4rem;
    margin-right: 2rem;
  }
  
}

@media only screen and (max-width:959px) {
  main div{
    width: 100%;
    margin-left: 1rem;
  }
  main div h1{
    font-size: 3rem;
  }
  
  main div .main-button{
    font-size: larger;
    margin-top: 2rem;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    height: 4rem;
    width: 70%;
  }
  
  figure{
    width: 100%;
    margin-right: 0rem;
  }
  
  figure img{
    max-width: 100%;
    height: auto;
  }
  
  figure img{
    width: 100%;
  }

  nav .menu{
    height: 40%;
    margin: 0.5rem;
  }
  nav .carrinho{
    height: 60%;
    margin: 0.5rem;
  }
}

