* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h4, p, span, .text{
  font-family: "JetBrains Mono", "Oxanium";
  color: #9FD923;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0D0D0D;
  box-sizing: border-box;
}

nav{
  display: flex;
  height: 5.5rem;
  padding: 0.25rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  background-image: url("../IMG/background01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  display: flex;
  /* width: 15%; */
  justify-content: center;
  align-items: end;
  border-bottom: 1px solid ;
}

.logo h3{
  font-family: "Oxanium";
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.logo img{
  width: 3rem;
  height: auto;
}

nav .menu{
  height: 40%;
  margin: 0.5rem;
}
nav .carrinho{
  height: 60%;
  margin: 0.5rem;
}

button{
  border: 0px;
  width: 20rem;
  height: 3rem;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
  background-color: #2E2473;
  font-size: large;
  background-image: url("../IMG/background01.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

main div{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 3.5rem;
}
main div h1{
  font-size: 4rem;
  text-transform: capitalize;
}

main div button{
  font-size: larger;
  font-family: "Oxanium";
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 3rem;
  width: 70%;
  height: 4rem;
}

figure{
  display: flex;
  justify-content: end;
  align-items: end;
  width: 43%;
  margin-right: 5rem;
}

figure img{
  max-width: 100%;
  height: auto;
}

figure img{
  width: 100%;
}

/* Estilos do Footer */
footer {
  background-color: #2E2473;
  color: #fff;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  flex-wrap: wrap;
  width: 100%;
  
}

.footer .text{
  font-size: small;
  margin: 0.2rem;
  border-bottom: solid #9FD923 1px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 0.3rem;
  flex: 1 1 300px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p,
.footer-section span, 
.footer-section a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
  text-decoration: underline;
}